{{!--
Re-usable card for linking to posts
--}}

<article class="hover:shadow-card-hover active:shadow-card-pressed rounded-3xl transition duration-300 flex-col {{#if
    isFirst}}sm:col-span-2 sm:row-span-2{{/if}} {{post_class}}">
    <a class="flex gap-4 flex-col"
       href="{{url}}">
        {{#if feature_image}}
            <div class="relative overflow-hidden rounded-3xl">
                <img
                    class="aspect-[360/200] w-full rounded-3xl bg-neutral-400 object-cover object-center transition duration-300 hover:scale-105"
                    srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                    sizes="(max-width: 1000px) 400px, 700px"
                    src="{{img_url feature_image size="m"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                />

                {{#if featured}}
                    <div
                        class="text-sm px-3 py-2 bg-accent-yellow-25 text-neutral-90 absolute top-4 left-4 rounded-full font-semibold">
                        {{t "Featured"}}
                    </div>
                {{/if}}
            </div>
        {{/if}}
        <div class="{{#if isFirst}}mt-4 space-y-2{{else}}mt-3 space-y-1{{/if}}">
            <h2 class="line-clamp-2 hover:text-neutral-80 font-bold dark:hover:text-neutral-200 {{#if
                isFirst}}text-2xl md:text-3xl lg:text-4xl{{else}}text-base md:text-md lg:text-lg{{/if}}">{{title}}</h2>
            <div class="text-sm text-neutral-80 flex gap-1">
                <span>By <a href="{{primary_author.url}}">{{primary_author.name}}</a></span> |
                <time>{{date format="MMM DD, YYYY"}}</time>
                <!--                <span-->
                <!--                    class="bull">&bull;</span> {{reading_time}}-->
            </div>
            {{#if isFirst}}
                <p class="line-clamp-2 text-sm text-neutral-800 dark:text-neutral-80 lg:text-base">{{excerpt}}</p>
            {{/if}}
            <a href="{{url}}"
               class="mt-1 cursor-pointer group flex gap-2 text-accent-green-100 font-semibold items-center hover:text-primary-green-600">{{t
                "Read more"}}
                <div class="group-hover:translate-x-1 transition">
                    {{> "icons/arrow-line-right"}}
                </div>
            </a>
        </div>
    </a>
</article>