{{!< default}}

<div class="gh-page">
    <div class="gh-container container">

        {{#tag}}
            <header class="gh-page-head">

                <h1 class="font-bold lg:text-3xl mb-7.5 text-neutral-90">#{{name}}</h1>

                <p class="text-neutral-80">
                    {{#if description}}
                        {{description}}
                    {{else}}
                        A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
                    {{/if}}
                </p>

                {{#if feature_image}}
                    <img class="gh-page-image" src="{{feature_image}}" alt="{{name}}"/>
                {{/if}}

            </header>
        {{/tag}}

        <div class="gh-postfeed grid grid-cols-3 gap-5 mt-8">
            {{#foreach posts}}

                {{> "card-detail"}} {{!-- partials/card.hbs --}}

            {{/foreach}}
        </div>

    </div>
</div>
